<div class="container">


  <h3>Welcome to LeadGen</h3>

  <p>This is where all the leads will be located</p>

  

  <p>Leads</p>
 <div class="well">
 
</div>



<%= link_to 'Create New', new_lead_path, class: 'btn btn-primary btn-success' %>


